/*Globals ==============================*/

:root {
  box-sizing: border-box;
  font-size: 93.75%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $grayish-black;
  font-family: "Poppins", sans-serif;
}

h2 {
  margin: 3.2rem 0 0.8rem;
  font-weight: 400;
  color: #fff;
}

hr {
  background-color: $red;
  border: none;
  width: 100%;
  height: 0.1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

/*Links & Buttons ==============================*/

a {
  color: $green;
  text-decoration: none;
  transition: .2s ease-in-out;

  &:hover {
    color: $light-green;
  }
}

 .button.new {
   display: inline-block;
   margin-bottom: .8rem;
 }

 .input-group .button.cancel {
   border: 2px solid $red;
   border-radius: 0.2rem;
   height: 50px;
   opacity: 0.6;
   cursor: pointer;

   color: $red;

   display: flex;
   align-items: center;
   justify-content: center;

   &:hover {
     opacity: 1;
   }
 }

 .input-group button {
   background: $light-green;
   border: none;
   border-radius: 0.2rem;
   padding: 0rem;
   height: 50px;
   transition: .3s ease-in-out;
   cursor: pointer;

   color: #fff;

   &:hover {
     background-color: $green;
   }
 }

 