.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  z-index: 15
}

.modal-overlay.active {
  opacity: 1.0;
  visibility: visible;
}

.modal {
  background-color: $background-modal;
  padding: 2.4rem;
  z-index: 15;
  box-shadow: 0 0 5px 6px rgba(0, 0, 0, 0.2);
}