$body-dark: #121212;
$header-dark: #000;
$modal-dark: #161616;

.dark-theme {
  background-color: $body-dark;
  transition: all 0.8s ease-in-out;

  header {
    background-color: $header-dark;
  }

  #change-theme {
    #ball {
      background-color: #000;
    }
  }

  .card {
    background-color: #f0f2f5;

    &.expense {
      background-color: #f0f2f5;
    }

    &.total {
      background-color: #f0f2f5;

      &.expense {
        background-color: #c6282b;
        color: #fff;
      }

      &.income {
        background-color: #00897b;
        color: #fff;
      }

    }
  }

  .button.new {
    background-color: #00897b;

    &:hover {
      background-color: #03ab9a;
    }
  }

  a#button-remove {
    background-color: #c6282b;

    &:hover {
      background-color: #d91e1e;
    }
  }

  table thead th,
  table th td {
    background-color: #f0f2f5;
  }

  td.income {
    color: #00897b;
  }

  td.expense {
    color: #c6282b;
  }

  .modal {
    background-color: $modal-dark;

    h2,
    small {
      color: #fff;
    }
  }

  .input-group {
    button {
      background-color: #00897b;

      &:hover {
        background-color: #03ab9a;
      }
    }
    .button.cancel {
      color: #c6282b;
      border-color: #c6282b;
    }
  }

  .ask-erase-all {
    color: #fff;
  }

  a.cancel-erase-all {
    background-color: #c6282b;

    &:hover {
      background-color: #d91e1e;
    }
  }

  button.confirm-erase-all {
    background-color: transparent;
    border: 2px solid #00897b;
    border-radius: 0.25rem;
    opacity: 0.7;

    color: #fff;

    &:hover {
      background-color: transparent;
      opacity: 1;
    }
  }

  input {
    background-color: #f0f2f5;
  }

}