/*Globals ==============================*/

:root {
  box-sizing: border-box;
  font-size: 93.75%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $background-primary;
  font-family: "Poppins", sans-serif;
}

h2 {
  margin: 3.2rem 0 0.8rem;
  font-weight: 400;
  color: #363f5f;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: Min(90vw, 800px);
  margin: auto;
}

/*Links & Buttons ==============================*/

a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.button.new {
  background-color: #49aa26;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
  display: inline-block;
  margin-bottom: 0.8rem;

  &:hover {
    background-color: #12a454;
  }
}

.input-group .button.cancel {
  border: 2px solid #ff2121;
  border-radius: 0.2rem;
  height: 50px;
  opacity: 0.6;
  cursor: pointer;

  color: #ff2121;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 1;
  }
}

.input-group button {
  background: #49aa26;
  border: none;
  border-radius: 0.2rem;
  padding: 0rem;
  height: 50px;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  color: #fff;

  &:hover {
    background-color: #12a454;
  }
}